/* opensource color from the s9a.page/sea */
:root { --sea-oil:seashell; --sea-ink:black }
.sea-amber { --sea-oil: lightcoral }
.sea-blush { --sea-oil: lightpink }
.sea-breeze { --sea-oil: bisque }
.sea-foam { --sea-oil: lightseagreen }
.sea-fume { --sea-oil: mediumpurple }
.sea-gel { --sea-oil: tomato }
.sea-glow { --sea-oil: gold }
.sea-gush { --sea-oil: violet }
.sea-lava { --sea-oil: rosybrown }
.sea-sand { --sea-oil: navajowhite }
.sea-storm { --sea-oil: gainsboro }
.sea-tide { --sea-oil: cornflowerblue }
.sea-orchid { --sea-oil: mediumorchid }
@media (prefers-contrast: less) {
  :root { --sea-ink: purple }
  .sea-blush { --sea-oil: lightsalmon }
  .sea-breeze { --sea-oil: khaki }
  .sea-fume { --sea-oil: mediumorchid }
  .sea-sand { --sea-oil: sandybrown }
  .sea-storm { --sea-oil: silver }
}
@media (prefers-contrast: more) {
  .sea-amber { --sea-oil: coral }
  .sea-foam { --sea-oil: turquoise }
  .sea-gel { --sea-oil: hotpink }
  .sea-glow { --sea-oil: yellow }
  .sea-gush { --sea-oil: plum }
  .sea-lava { --sea-oil: tan }
  .sea-tide { --sea-oil: deepskyblue }
  .sea-orchid { --sea-oil: orchid }
}
.sea-wet :not(.sea-dry) {
  background-color: none;
  color: inherit;
}
.sea-wet ::selection {
  background-color: indigo;
  color: salmon;
}
.sea-blood.sea-blood {
  background-color: var(--sea-oil);
  color: var(--sea-ink);
}
.sea-bleed.sea-bleed {
  background-color: var(--sea-ink);
  color: var(--sea-oil);
}
@media (prefers-color-scheme:light) {
  .sea-bleed.sea-blood {
    background-color: var(--sea-oil);
    color: var(--sea-ink);
  }
}
